/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(26,70,116);
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form{
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(110,160,46);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
}
label {
    /* display: block; */
    margin-bottom: 10px;
    /*padding-bottom: 10%;*/
}

input, select, textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid #12121260;
    background-color: #e9f8e1;
    border-radius: 6px;
}
.genero{
    width: 107%;
}
.verduras{
    width: 107;
}

input[type="submit"] {
    background-color: rgb(26,70,116);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 107%;
}

/* input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
} */

.fruitContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.fruitContainer input {
    position: absolute;
    width: 1rem;
    inset: 0;
    left: 80%;
}



.input-group{
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    padding-right: 80px;
    background-color: #e9f8e1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .renderContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    /* text-align: center; */



.capitalize {
    text-transform: capitalize;
}

.logo img {
    width: 50%;
}

.logo{
    /* position: absolute;
    top: 2rem;
    right: 0;
    width: calc(100% / 5); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* .logo h1 {
    color: white;
    font-weight: bold;
} */